*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #E5E5E5;
}
.header-logo{
    margin-right: 40px;
}
.header{
    background: darkgreen;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}
.header-wrapper{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    margin-right: 60px;
    margin-left: auto;
}
.header-menu{
    font-family: 'Grandstander', cursive;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-menu-link{
    text-decoration: none;
    color: #fafafa;
    margin-right: 15px;
}
.input-group{
    width: 237px;
    height: 32px;
    position: relative;
    background: #fafafa;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
}
.search-input{
    height: 100%;
    width: 80%;
    border: none;
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
}
.search-button{
    height: 100%;
    width: 20%;
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input::-moz-placeholder {color: #bfbfbf;}
.search-input::-webkit-input-placeholder { color: #bfbfbf; }
.search-input:-ms-input-placeholder { color: #bfbfbf; }
.search-input::-ms-input-placeholder { color: #bfbfbf; }
.search-input::placeholder { color: #bfbfbf; }

.content{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.posts{
    display: none;
    width: 67%;
}
.posts.visible{
    display: block;
}
.post{
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
}
.post-body{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 0;
}
.post-title{
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 600;
    font-size:16px;
    line-height: 24px;
}
.post-text{
    color: #262626;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.tags{
    color: #bfbfbf;
    margin-bottom: 22px;
}
.tag{
    color: #bfbfbf;
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
    text-decoration: none;
}
.tag:first-child{
    margin-left: 0px;
}
.post-footer{
    background: #fafafa;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 13px;
    padding-top: 13px;
}
.post-footer .icon{
    fill: #8c8c8c;
}
.post-buttons{
    display: flex;
    align-items: center;
}
.post-button{
    background-color: transparent;
    border: none;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-right: 19px;
    cursor: pointer;
}
.post-author{
    display: flex;
    align-items: center;
    text-align: right;
}
.author-avatar{
    width: 34px;
    height: 34px;
    margin-left: 9px;
    object-fit: cover;
}
.author-username{
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    border-radius: 4px;
}
.post-time{
    color: #bfbfbf;
    font-size: 12px;
    line-height: 20px;
}
.icon-like, .icon-comments{
    margin-right: 6px;
}

.sidebar{
    width: 31%;
}
.user{
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 15px 25px;
}
.user-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login{
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 15px 25px;
    align-items: center;
    justify-content: space-between;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #595959;
}
.login-input{
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    padding: 5px 15px;
    margin-bottom: 15px;
}
.login-forget{
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #757575;
    margin-bottom: 10px;
    font-style: italic;
}
.login-signin{
    background-color: darkgreen;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-family: 'Grandstander', cursive;
    text-align: center;
    margin-bottom: 15px;
}
.login-signin:hover{
    filter: opacity(80%);
}
.login-signin:active{
    filter: brightness(85%);
}
.login-signup{
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: darkgreen;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.user-info{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto;
}
.user-avatar{
    border-radius: 50%;
    margin-right: 17px;
    object-fit: cover;
}
.user-name{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.edit{
    margin-right: 10px;
}
.edit-container{
    display: none;
}
.edit-container.visible{
    display: block;
}
.edit-label{
    display: block;
    margin-bottom: 5px;
    text-align: center;
    color: #595959;
}
.edit-title{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    color: #595959;
    font-family: 'Grandstander', cursive;
    text-transform: uppercase;
}
.edit-input{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
}
.edit-btn{
    background-color: darkgreen;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-family: 'Grandstander', cursive;
    text-align: center;
    margin-top: 10px
}
.icon-edit{
    width: 20px;
    height: 20px;
}
.icon-exit{
    width: 20px;
    height: 20px;
    fill: #000;
}
.sidebar-nav{
    background-color: #ffffff;
    display: none;
}
.sidebar-nav.visible{
    display: block;
}
.sidebar-menu{
    margin: 0;
    border: 1px solid #e8e8e8;
    border-top: none;
    list-style-type: none;
    padding: 0;
}
.sidebar-menu-link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 16px 48px;
    display: inline-block;
    width: 100%;
}
.sidebar-menu-link:hover{
    background-color: #d8e4d3;
}
.sidebar-menu-link.active{
    background-color: #d8e4d3;
    border-right: 3px solid darkgreen;
}
.button{
    background-color: darkgreen;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 13px;
    font-family: 'Grandstander', cursive;
    cursor: pointer;
}
.button-new-post{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.button-new-post.visible{
    display: flex;
}
.icon-fire{
    fill: #ffffff;
    width: 11px;
    height: 13px;
    margin-right: 10px;
}
.card{
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
}
.card-header{
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    padding: 23px 25px;
}
.card-title{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.card-body{
    padding: 22px 40px 30px 25px;
}
.card-body-title{
    text-decoration: none;
    margin: 0 0 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: darkgreen;
}
.card-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin: 10px 0;
}
.promo{
    display: block;
    background-color: #ffffff;
    background-image: url("../img/promo.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 260px;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
    position: relative;
}
.promo::before {
    content: "Реклама";
    position: absolute;
    right: 0;
    top: 0;
    background: #c4c4c4;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}
.menu-toggle{
    display: none;
}
.add-post{
    display: none;
    flex-direction: column;
    width: 67%;
}
.add-post.visible{
    display: flex;
}
.add-title,
.add-text,
.add-tags {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 23px 30px;
    margin-bottom: 16px;
    resize: none;
}
.add-text{
    min-height: 362px;
}
.button-outline{
    background: #FFFFFF;
    border: 1px solid #3d7d30;
    box-sizing: border-box;
    border-radius: 4px;
    color: #3d7d30;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}
.button-outline .icon {
    width: 14px;
    height: 11px;
    fill: #3d7d30;
}
.add-button{
    width: 100%;
    max-width: 370px;
    margin-right: 1%;
}
.add-post .button-outline{
    margin-right: 12px;
}
@media (max-width: 990px){
    .tags{
        word-wrap: break-word;
    }
    .add-post{
        width: 100%;
    }
    .menu-toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-left: 12px;
    }
    .menu-toggle span{
        height: 2px;
        width: 100%;
        background-color: #ffffff;
    }
    .header{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
    }
    .sidebar.visible{
         display: block;
        transform: translateX(0%);
    }
    .content{
        margin-top: 94px;
        margin-bottom: 60px;
    }
    .sidebar{
        position: fixed;
        top: 64px;
        right: 0;
        bottom: 0;
        height: calc(100% - 64px);
        max-width: 320px;
        width: 100%;
        background-color: #ffffff;
        padding: 15px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
        transform: translateX(100%);
        transition: transform 0.2s;
        overflow-y: auto;
    }
    .posts{
        width: 100%;
    }
    .header-nav{
        display: none;
    }
    .header-menu{
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 576px) {

    .post-footer{
        flex-direction: column;
    }
    .post-author{
        margin-top: 15px;
    }
    .author-avatar{
        margin-left: 0;
        margin-right: 10px;
        object-fit: cover;
    }
    .author-about{
        order: 2;
        text-align: left;
    }
    .add-buttons{
        display: flex;
        flex-direction: column;
    }
    .add-button{
        width: 100%;
    }
}
@media (max-width: 676px){
    .add-buttons {
        display: flex;
        flex-direction: column;
    }
    .add-button{
        width: 100%;
        max-width: 100%;
    }
    .add-post .button-outline{
        margin-right: 0;
        margin-top: 10px;
    }
}


/*input[type=text], input[type=password] {*/
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    box-sizing: border-box;*/
/*}*/


/*.button-login {*/
/*    background-color: darkgreen;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    border-radius: 4px;*/
/*    font-family: 'Grandstander', cursive;*/
/*    text-align: center;*/
/*}*/
/*.login-font{*/
/*    font-family: 'Grandstander', cursive;*/
/*}*/

/*button:hover {*/
/*    opacity: 0.8;*/
/*}*/


/*.registr {*/
/*    width: auto;*/
/*    padding: 10px 18px;*/
/*    background-color: #f44336;*/
/*    color: white;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*    font-family: 'Grandstander', cursive;*/
/*    text-align: center;*/
/*}*/




/*.container {*/
/*    padding: 16px;*/
/*    background-color: #FFFFFF;*/
/*    border: 1px solid #e8e8e8;*/
/*}*/


/*span.psw {*/
/*    float: right;*/
/*    padding-top: 40px;*/
/*    font-size: 13px;*/
/*    font-family: 'Grandstander', cursive;*/
/*}*/


/*@media screen and (max-width: 300px) {*/
/*    span.psw {*/
/*        display: block;*/
/*        float: none;*/
/*    }*/
/*    .registr {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*.close:hover,*/
/*.close:focus {*/
/*    color: red;*/
/*    cursor: pointer;*/
/*}*/




